---
version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
    assignees:
      - snape
  - package-ecosystem: gradle
    directory: /
    schedule:
      interval: weekly
    assignees:
      - snape
