#
# .bazelrc
# RVO2 Library Java
#
# SPDX-FileCopyrightText: 2008 University of North Carolina at Chapel Hill
# SPDX-License-Identifier: Apache-2.0
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
# Please send all bug reports to <geom@cs.unc.edu>.
#
# The authors may be contacted via:
#
# Jur van den Berg, Stephen J. Guy, Jamie Snape, Ming C. Lin, Dinesh Manocha
# Dept. of Computer Science
# 201 S. Columbia St.
# Frederick P. Brooks, Jr. Computer Science Bldg.
# Chapel Hill, N.C. 27599-3175
# United States of America
#
# <https://gamma.cs.unc.edu/RVO2/>
#

build --enable_platform_specific_config=true

build --javacopt "--release 11"

build --javacopt "-Xep:AlwaysThrows:ERROR"
build --javacopt "-Xep:AndroidInjectionBeforeSuper:OFF"
build --javacopt "-Xep:ArrayEquals:ERROR"
build --javacopt "-Xep:ArrayFillIncompatibleType:ERROR"
build --javacopt "-Xep:ArrayHashCode:ERROR"
build --javacopt "-Xep:ArrayToString:ERROR"
build --javacopt "-Xep:ArraysAsListPrimitiveArray:ERROR"
build --javacopt "-Xep:AsyncCallableReturnsNull:ERROR"
build --javacopt "-Xep:AsyncFunctionReturnsNull:ERROR"
build --javacopt "-Xep:AutoValueBuilderDefaultsInConstructor:ERROR"
build --javacopt "-Xep:AutoValueConstructorOrderChecker:ERROR"
build --javacopt "-Xep:BadAnnotationImplementation:ERROR"
build --javacopt "-Xep:BadShiftAmount:ERROR"
build --javacopt "-Xep:BanJNDI:ERROR"
build --javacopt "-Xep:BoxedPrimitiveEquality:ERROR"
build --javacopt "-Xep:BundleDeserializationCast:ERROR"
build --javacopt "-Xep:ChainingConstructorIgnoresParameter:ERROR"
build --javacopt "-Xep:CheckNotNullMultipleTimes:ERROR"
build --javacopt "-Xep:CheckReturnValue:ERROR"
build --javacopt "-Xep:CollectionIncompatibleType:ERROR"
build --javacopt "-Xep:CollectionToArraySafeParameter:ERROR"
build --javacopt "-Xep:ComparableType:ERROR"
build --javacopt "-Xep:ComparingThisWithNull:ERROR"
build --javacopt "-Xep:ComparisonOutOfRange:ERROR"
build --javacopt "-Xep:CompatibleWithAnnotationMisuse:ERROR"
build --javacopt "-Xep:CompileTimeConstant:ERROR"
build --javacopt "-Xep:ComputeIfAbsentAmbiguousReference:ERROR"
build --javacopt "-Xep:ConditionalExpressionNumericPromotion:ERROR"
build --javacopt "-Xep:ConstantOverflow:ERROR"
build --javacopt "-Xep:DaggerProvidesNull:ERROR"
build --javacopt "-Xep:DangerousLiteralNull:ERROR"
build --javacopt "-Xep:DeadException:ERROR"
build --javacopt "-Xep:DeadThread:ERROR"
build --javacopt "-Xep:DiscardedPostfixExpression:ERROR"
build --javacopt "-Xep:DoNotCall:ERROR"
build --javacopt "-Xep:DoNotMock:ERROR"
build --javacopt "-Xep:DoubleBraceInitialization:ERROR"
build --javacopt "-Xep:DuplicateMapKeys:ERROR"
build --javacopt "-Xep:DurationFrom:ERROR"
build --javacopt "-Xep:DurationGetTemporalUnit:ERROR"
build --javacopt "-Xep:DurationTemporalUnit:ERROR"
build --javacopt "-Xep:DurationToLongTimeUnit:ERROR"
build --javacopt "-Xep:EmptyTopLevelDeclaration:ERROR"
build --javacopt "-Xep:EqualsHashCode:ERROR"
build --javacopt "-Xep:EqualsNaN:ERROR"
build --javacopt "-Xep:EqualsNull:ERROR"
build --javacopt "-Xep:EqualsReference:ERROR"
build --javacopt "-Xep:EqualsWrongThing:ERROR"
build --javacopt "-Xep:FloggerFormatString:ERROR"
build --javacopt "-Xep:FloggerLogString:ERROR"
build --javacopt "-Xep:FloggerLogVarargs:ERROR"
build --javacopt "-Xep:FloggerSplitLogStatement:ERROR"
build --javacopt "-Xep:ForOverride:ERROR"
build --javacopt "-Xep:FormatString:ERROR"
build --javacopt "-Xep:FormatStringAnnotation:ERROR"
build --javacopt "-Xep:FromTemporalAccessor:ERROR"
build --javacopt "-Xep:FunctionalInterfaceMethodChanged:ERROR"
build --javacopt "-Xep:FuturesGetCheckedIllegalExceptionType:ERROR"
build --javacopt "-Xep:FuzzyEqualsShouldNotBeUsedInEqualsMethod:ERROR"
build --javacopt "-Xep:GetClassOnAnnotation:ERROR"
build --javacopt "-Xep:GetClassOnClass:ERROR"
build --javacopt "-Xep:GuardedBy:ERROR"
build --javacopt "-Xep:GuiceAssistedInjectScoping:ERROR"
build --javacopt "-Xep:GuiceAssistedParameters:ERROR"
build --javacopt "-Xep:GuiceInjectOnFinalField:ERROR"
build --javacopt "-Xep:HashtableContains:ERROR"
build --javacopt "-Xep:IdentityBinaryExpression:ERROR"
build --javacopt "-Xep:IdentityHashMapBoxing:ERROR"
build --javacopt "-Xep:IgnoredPureGetter:ERROR"
build --javacopt "-Xep:Immutable:ERROR"
build --javacopt "-Xep:Incomparable:ERROR"
build --javacopt "-Xep:IncompatibleArgumentType:ERROR"
build --javacopt "-Xep:IncompatibleModifiers:ERROR"
build --javacopt "-Xep:IndexOfChar:ERROR"
build --javacopt "-Xep:InexactVarargsConditional:ERROR"
build --javacopt "-Xep:InfiniteRecursion:ERROR"
build --javacopt "-Xep:InjectMoreThanOneScopeAnnotationOnClass:ERROR"
build --javacopt "-Xep:InjectOnMemberAndConstructor:ERROR"
build --javacopt "-Xep:InlineMeValidator:ERROR"
build --javacopt "-Xep:InstantTemporalUnit:ERROR"
build --javacopt "-Xep:InvalidJavaTimeConstant:ERROR"
build --javacopt "-Xep:InvalidPatternSyntax:ERROR"
build --javacopt "-Xep:InvalidTimeZoneID:ERROR"
build --javacopt "-Xep:InvalidZoneId:ERROR"
build --javacopt "-Xep:IsInstanceIncompatibleType:ERROR"
build --javacopt "-Xep:IsInstanceOfClass:ERROR"
build --javacopt "-Xep:IsLoggableTagLength:ERROR"
build --javacopt "-Xep:JUnit3TestNotRun:ERROR"
build --javacopt "-Xep:JUnit4ClassAnnotationNonStatic:ERROR"
build --javacopt "-Xep:JUnit4SetUpNotRun:ERROR"
build --javacopt "-Xep:JUnit4TearDownNotRun:ERROR"
build --javacopt "-Xep:JUnit4TestNotRun:ERROR"
build --javacopt "-Xep:JUnit4TestsNotRunWithinEnclosed:ERROR"
build --javacopt "-Xep:JUnitAssertSameCheck:ERROR"
build --javacopt "-Xep:JUnitParameterMethodNotFound:ERROR"
build --javacopt "-Xep:JavaxInjectOnAbstractMethod:ERROR"
build --javacopt "-Xep:JodaToSelf:ERROR"
build --javacopt "-Xep:LenientFormatStringValidation:ERROR"
build --javacopt "-Xep:LiteByteStringUtf8:ERROR"
build --javacopt "-Xep:LocalDateTemporalAmount:ERROR"
build --javacopt "-Xep:LockOnBoxedPrimitive:ERROR"
build --javacopt "-Xep:LoopConditionChecker:ERROR"
build --javacopt "-Xep:LossyPrimitiveCompare:ERROR"
build --javacopt "-Xep:MathRoundIntLong:ERROR"
build --javacopt "-Xep:MislabeledAndroidString:OFF"
build --javacopt "-Xep:MisplacedScopeAnnotations:ERROR"
build --javacopt "-Xep:MissingSuperCall:ERROR"
build --javacopt "-Xep:MissingTestCall:ERROR"
build --javacopt "-Xep:MisusedDayOfYear:ERROR"
build --javacopt "-Xep:MisusedWeekYear:ERROR"
build --javacopt "-Xep:MixedDescriptors:ERROR"
build --javacopt "-Xep:MockitoUsage:ERROR"
build --javacopt "-Xep:ModifyingCollectionWithItself:ERROR"
build --javacopt "-Xep:MoreThanOneInjectableConstructor:ERROR"
build --javacopt "-Xep:MustBeClosedChecker:ERROR"
build --javacopt "-Xep:NCopiesOfChar:ERROR"
build --javacopt "-Xep:NoCanIgnoreReturnValueOnClasses:ERROR"
build --javacopt "-Xep:NonCanonicalStaticImport:ERROR"
build --javacopt "-Xep:NonFinalCompileTimeConstant:ERROR"
build --javacopt "-Xep:NonRuntimeAnnotation:ERROR"
build --javacopt "-Xep:NullArgumentForNonNullParameter:ERROR"
build --javacopt "-Xep:NullTernary:ERROR"
build --javacopt "-Xep:NullableOnContainingClass:ERROR"
build --javacopt "-Xep:OptionalEquality:ERROR"
build --javacopt "-Xep:OptionalMapUnusedValue:ERROR"
build --javacopt "-Xep:OptionalOfRedundantMethod:ERROR"
build --javacopt "-Xep:OverlappingQualifierAndScopeAnnotation:ERROR"
build --javacopt "-Xep:OverridesJavaxInjectableMethod:ERROR"
build --javacopt "-Xep:PackageInfo:ERROR"
build --javacopt "-Xep:ParametersButNotParameterized:ERROR"
build --javacopt "-Xep:ParcelableCreator:ERROR"
build --javacopt "-Xep:PeriodFrom:ERROR"
build --javacopt "-Xep:PeriodGetTemporalUnit:ERROR"
build --javacopt "-Xep:PeriodTimeMath:ERROR"
build --javacopt "-Xep:PreconditionsInvalidPlaceholder:ERROR"
build --javacopt "-Xep:PrivateSecurityContractProtoAccess:ERROR"
build --javacopt "-Xep:ProtoBuilderReturnValueIgnored:ERROR"
build --javacopt "-Xep:ProtoFieldNullComparison:ERROR"
build --javacopt "-Xep:ProtoStringFieldReferenceEquality:ERROR"
build --javacopt "-Xep:ProtoTruthMixedDescriptors:ERROR"
build --javacopt "-Xep:ProtocolBufferOrdinal:ERROR"
build --javacopt "-Xep:ProvidesMethodOutsideOfModule:ERROR"
build --javacopt "-Xep:RandomCast:ERROR"
build --javacopt "-Xep:RandomModInteger:ERROR"
build --javacopt "-Xep:RectIntersectReturnValueIgnored:ERROR"
build --javacopt "-Xep:RequiredModifiers:ERROR"
build --javacopt "-Xep:RestrictedApiChecker:ERROR"
build --javacopt "-Xep:ReturnValueIgnored:ERROR"
build --javacopt "-Xep:SelfAssignment:ERROR"
build --javacopt "-Xep:SelfComparison:ERROR"
build --javacopt "-Xep:SelfEquals:ERROR"
build --javacopt "-Xep:ShouldHaveEvenArgs:ERROR"
build --javacopt "-Xep:SizeGreaterThanOrEqualsZero:ERROR"
build --javacopt "-Xep:StreamToString:ERROR"
build --javacopt "-Xep:StringBuilderInitWithChar:ERROR"
build --javacopt "-Xep:SubstringOfZero:ERROR"
build --javacopt "-Xep:SuppressWARNsDeprecated:ERROR"
build --javacopt "-Xep:TemporalAccessorGetChronoField:ERROR"
build --javacopt "-Xep:TestParametersNotInitialized:ERROR"
build --javacopt "-Xep:TheoryButNoTheories:ERROR"
build --javacopt "-Xep:ThrowIfUncheckedKnownChecked:ERROR"
build --javacopt "-Xep:ThrowNull:ERROR"
build --javacopt "-Xep:TreeToString:ERROR"
build --javacopt "-Xep:TruthSelfEquals:ERROR"
build --javacopt "-Xep:TryFailThrowable:ERROR"
build --javacopt "-Xep:TypeParameterQualifier:ERROR"
build --javacopt "-Xep:UnicodeDirectionalityCharacters:ERROR"
build --javacopt "-Xep:UnicodeInCode:ERROR"
build --javacopt "-Xep:UnnecessaryCheckNotNull:ERROR"
build --javacopt "-Xep:UnnecessaryTypeArgument:ERROR"
build --javacopt "-Xep:UnsafeWildcard:ERROR"
build --javacopt "-Xep:UnusedAnonymousClass:ERROR"
build --javacopt "-Xep:UnusedCollectionModifiedInPlace:ERROR"
build --javacopt "-Xep:VarTypeName:ERROR"
build --javacopt "-Xep:WrongOneof:ERROR"
build --javacopt "-Xep:XorPower:ERROR"
build --javacopt "-Xep:ZoneIdOfZ:ERROR"

build --javacopt "-Xep:ASTHelpersSuggestions:WARN"
build --javacopt "-Xep:AlmostJavadoc:WARN"
build --javacopt "-Xep:AlreadyChecked:WARN"
build --javacopt "-Xep:AmbiguousMethodReference:WARN"
build --javacopt "-Xep:AnnotateFormatMethod:WARN"
build --javacopt "-Xep:ArgumentSelectionDefectChecker:WARN"
build --javacopt "-Xep:ArrayAsKeyOfSetOrMap:WARN"
build --javacopt "-Xep:AssertEqualsArgumentOrderChecker:WARN"
build --javacopt "-Xep:AssertThrowsMultipleStatements:WARN"
build --javacopt "-Xep:AssertionFailureIgnored:WARN"
build --javacopt "-Xep:AssistedInjectAndInjectOnSameConstructor:WARN"
build --javacopt "-Xep:AutoValueFinalMethods:WARN"
build --javacopt "-Xep:AutoValueImmutableFields:WARN"
build --javacopt "-Xep:AutoValueSubclassLeaked:WARN"
build --javacopt "-Xep:BadComparable:WARN"
build --javacopt "-Xep:BadImport:WARN"
build --javacopt "-Xep:BadInstanceof:WARN"
build --javacopt "-Xep:BareDotMetacharacter:WARN"
build --javacopt "-Xep:BigDecimalEquals:WARN"
build --javacopt "-Xep:BigDecimalLiteralDouble:WARN"
build --javacopt "-Xep:BoxedPrimitiveConstructor:WARN"
build --javacopt "-Xep:BugPatternNaming:WARN"
build --javacopt "-Xep:ByteBufferBackingArray:WARN"
build --javacopt "-Xep:CacheLoaderNull:WARN"
build --javacopt "-Xep:CanonicalDuration:WARN"
build --javacopt "-Xep:CatchAndPrintStackTrace:WARN"
build --javacopt "-Xep:CatchFail:WARN"
build --javacopt "-Xep:ChainedAssertionLosesContext:WARN"
build --javacopt "-Xep:CharacterGetNumericValue:WARN"
build --javacopt "-Xep:ClassCanBeStatic:WARN"
build --javacopt "-Xep:ClassNewInstance:WARN"
build --javacopt "-Xep:CloseableProvides:WARN"
build --javacopt "-Xep:CollectionUndefinedEquality:WARN"
build --javacopt "-Xep:CollectorShouldNotUseState:WARN"
build --javacopt "-Xep:ComparableAndComparator:WARN"
build --javacopt "-Xep:CompareToZero:WARN"
build --javacopt "-Xep:ComplexBooleanConstant:WARN"
build --javacopt "-Xep:DateChecker:WARN"
build --javacopt "-Xep:DateFormatConstant:WARN"
build --javacopt "-Xep:DefaultCharset:WARN"
build --javacopt "-Xep:DefaultPackage:WARN"
build --javacopt "-Xep:DeprecatedVariable:WARN"
build --javacopt "-Xep:DirectInvocationOnMock:WARN"
build --javacopt "-Xep:DistinctVarargsChecker:WARN"
build --javacopt "-Xep:DoNotCallSuggester:WARN"
build --javacopt "-Xep:DoNotClaimAnnotations:WARN"
build --javacopt "-Xep:DoNotMockAutoValue:WARN"
build --javacopt "-Xep:DoubleCheckedLocking:WARN"
build --javacopt "-Xep:EmptyBlockTag:WARN"
build --javacopt "-Xep:EmptyCatch:WARN"
build --javacopt "-Xep:EmptySetMultibindingContributions:WARN"
build --javacopt "-Xep:EqualsGetClass:WARN"
build --javacopt "-Xep:EqualsIncompatibleType:WARN"
build --javacopt "-Xep:EqualsUnsafeCast:WARN"
build --javacopt "-Xep:EqualsUsingHashCode:WARN"
build --javacopt "-Xep:ErroneousBitwiseExpression:WARN"
build --javacopt "-Xep:ErroneousThreadPoolConstructorChecker:WARN"
build --javacopt "-Xep:EscapedEntity:WARN"
build --javacopt "-Xep:ExtendingJUnitAssert:WARN"
build --javacopt "-Xep:ExtendsObject:WARN"
build --javacopt "-Xep:FallThrough:WARN"
build --javacopt "-Xep:Finally:WARN"
build --javacopt "-Xep:FloatCast:WARN"
build --javacopt "-Xep:FloatingPointAssertionWithinEpsilon:WARN"
build --javacopt "-Xep:FloatingPointLiteralPrecision:WARN"
build --javacopt "-Xep:FloggerArgumentToString:WARN"
build --javacopt "-Xep:FloggerStringConcatenation:WARN"
build --javacopt "-Xep:FragmentInjection:WARN"
build --javacopt "-Xep:FragmentNotInstantiable:WARN"
build --javacopt "-Xep:FutureReturnValueIgnored:WARN"
build --javacopt "-Xep:GetClassOnEnum:WARN"
build --javacopt "-Xep:HidingField:WARN"
build --javacopt "-Xep:IdentityHashMapUsage:WARN"
build --javacopt "-Xep:ImmutableAnnotationChecker:WARN"
build --javacopt "-Xep:ImmutableEnumChecker:WARN"
build --javacopt "-Xep:InconsistentCapitalization:WARN"
build --javacopt "-Xep:InconsistentHashCode:WARN"
build --javacopt "-Xep:IncorrectMainMethod:WARN"
build --javacopt "-Xep:IncrementInForLoopAndHeader:WARN"
build --javacopt "-Xep:InheritDoc:WARN"
build --javacopt "-Xep:InjectInvalidTargetingOnScopingAnnotation:WARN"
build --javacopt "-Xep:InjectOnConstructorOfAbstractClass:WARN"
build --javacopt "-Xep:InjectScopeAnnotationOnInterfaceOrAbstractClass:WARN"
build --javacopt "-Xep:InjectedConstructorAnnotations:WARN"
build --javacopt "-Xep:InlineFormatString:WARN"
build --javacopt "-Xep:InlineMeInliner:WARN"
build --javacopt "-Xep:InlineMeSuggester:WARN"
build --javacopt "-Xep:InputStreamSlowMultibyteRead:WARN"
build --javacopt "-Xep:InstanceOfAndCastMatchWrongType:WARN"
build --javacopt "-Xep:IntLongMath:WARN"
build --javacopt "-Xep:InvalidBlockTag:WARN"
build --javacopt "-Xep:InvalidInlineTag:WARN"
build --javacopt "-Xep:InvalidLink:WARN"
build --javacopt "-Xep:InvalidParam:WARN"
build --javacopt "-Xep:InvalidThrows:WARN"
build --javacopt "-Xep:InvalidThrowsLink:WARN"
build --javacopt "-Xep:IterableAndIterator:WARN"
build --javacopt "-Xep:JUnit3FloatingPointComparisonWithoutDelta:WARN"
build --javacopt "-Xep:JUnit4ClassUsedInJUnit3:WARN"
build --javacopt "-Xep:JUnitAmbiguousTestClass:WARN"
build --javacopt "-Xep:JavaDurationGetSecondsGetNano:WARN"
build --javacopt "-Xep:JavaDurationWithNanos:WARN"
build --javacopt "-Xep:JavaDurationWithSeconds:WARN"
build --javacopt "-Xep:JavaInstantGetSecondsGetNano:WARN"
build --javacopt "-Xep:JavaLangClash:WARN"
build --javacopt "-Xep:JavaLocalDateTimeGetNano:WARN"
build --javacopt "-Xep:JavaLocalTimeGetNano:WARN"
build --javacopt "-Xep:JavaPeriodGetDays:WARN"
build --javacopt "-Xep:JavaTimeDefaultTimeZone:WARN"
build --javacopt "-Xep:JavaUtilDate:WARN"
build --javacopt "-Xep:JavaxInjectOnFinalField:WARN"
build --javacopt "-Xep:JdkObsolete:WARN"
build --javacopt "-Xep:JodaConstructors:WARN"
build --javacopt "-Xep:JodaDateTimeConstants:WARN"
build --javacopt "-Xep:JodaDurationWithMillis:WARN"
build --javacopt "-Xep:JodaInstantWithMillis:WARN"
build --javacopt "-Xep:JodaNewPeriod:WARN"
build --javacopt "-Xep:JodaPlusMinusLong:WARN"
build --javacopt "-Xep:JodaTimeConverterManager:WARN"
build --javacopt "-Xep:JodaWithDurationAddedLong:WARN"
build --javacopt "-Xep:LiteEnumValueOf:WARN"
build --javacopt "-Xep:LiteProtoToString:WARN"
build --javacopt "-Xep:LockNotBeforeTry:WARN"
build --javacopt "-Xep:LogicalAssignment:WARN"
build --javacopt "-Xep:LongDoubleConversion:WARN"
build --javacopt "-Xep:LongFloatConversion:WARN"
build --javacopt "-Xep:LoopOverCharArray:WARN"
build --javacopt "-Xep:MalformedInlineTag:WARN"
build --javacopt "-Xep:MathAbsoluteRandom:WARN"
build --javacopt "-Xep:MemoizeConstantVisitorStateLookups:WARN"
build --javacopt "-Xep:MissingCasesInEnumSwitch:WARN"
build --javacopt "-Xep:MissingFail:WARN"
build --javacopt "-Xep:MissingImplementsComparable:WARN"
build --javacopt "-Xep:MissingOverride:WARN"
build --javacopt "-Xep:MissingSummary:WARN"
build --javacopt "-Xep:MixedMutabilityReturnType:WARN"
build --javacopt "-Xep:MockNotUsedInProduction:WARN"
build --javacopt "-Xep:ModifiedButNotUsed:WARN"
build --javacopt "-Xep:ModifyCollectionInEnhancedForLoop:WARN"
build --javacopt "-Xep:ModifySourceCollectionInStream:WARN"
build --javacopt "-Xep:MultipleParallelOrSequentialCalls:WARN"
build --javacopt "-Xep:MultipleUnaryOperatorsInMethodCall:WARN"
build --javacopt "-Xep:MutablePublicArray:WARN"
build --javacopt "-Xep:NarrowCalculation:WARN"
build --javacopt "-Xep:NarrowingCompoundAssignment:WARN"
build --javacopt "-Xep:NegativeCharLiteral:WARN"
build --javacopt "-Xep:NestedInstanceOfConditions:WARN"
build --javacopt "-Xep:NonAtomicVolatileUpdate:WARN"
build --javacopt "-Xep:NonCanonicalType:WARN"
build --javacopt "-Xep:NonOverridingEquals:WARN"
build --javacopt "-Xep:NullOptional:WARN"
build --javacopt "-Xep:NullableConstructor:WARN"
build --javacopt "-Xep:NullablePrimitive:WARN"
build --javacopt "-Xep:NullablePrimitiveArray:WARN"
build --javacopt "-Xep:NullableVoid:WARN"
build --javacopt "-Xep:ObjectEqualsForPrimitives:WARN"
build --javacopt "-Xep:ObjectToString:WARN"
build --javacopt "-Xep:ObjectsHashCodePrimitive:WARN"
build --javacopt "-Xep:OperatorPrecedence:WARN"
build --javacopt "-Xep:OptionalMapToOptional:WARN"
build --javacopt "-Xep:OptionalNotPresent:WARN"
build --javacopt "-Xep:OrphanedFormatString:WARN"
build --javacopt "-Xep:OutlineNone:WARN"
build --javacopt "-Xep:OverrideThrowableToString:WARN"
build --javacopt "-Xep:Overrides:WARN"
build --javacopt "-Xep:OverridesGuiceInjectableMethod:WARN"
build --javacopt "-Xep:ParameterName:WARN"
build --javacopt "-Xep:PreconditionsCheckNotNullRepeated:WARN"
build --javacopt "-Xep:PrimitiveAtomicReference:WARN"
build --javacopt "-Xep:ProtectedMembersInFinalClass:WARN"
build --javacopt "-Xep:ProtoDurationGetSecondsGetNano:WARN"
build --javacopt "-Xep:ProtoRedundantSet:WARN"
build --javacopt "-Xep:ProtoTimestampGetSecondsGetNano:WARN"
build --javacopt "-Xep:QualifierOrScopeOnInjectMethod:WARN"
build --javacopt "-Xep:ReachabilityFenceUsage:WARN"
build --javacopt "-Xep:ReferenceEquality:WARN"
build --javacopt "-Xep:RethrowReflectiveOperationExceptionAsLinkageError:WARN"
build --javacopt "-Xep:ReturnFromVoid:WARN"
build --javacopt "-Xep:RobolectricShadowDirectlyOn:WARN"
build --javacopt "-Xep:RxReturnValueIgnored:WARN"
build --javacopt "-Xep:SameNameButDifferent:WARN"
build --javacopt "-Xep:SelfAlwaysReturnsThis:WARN"
build --javacopt "-Xep:ShortCircuitBoolean:WARN"
build --javacopt "-Xep:StaticAssignmentInConstructor:WARN"
build --javacopt "-Xep:StaticAssignmentOfThrowable:WARN"
build --javacopt "-Xep:StaticGuardedByInstance:WARN"
build --javacopt "-Xep:StaticMockMember:WARN"
build --javacopt "-Xep:StreamResourceLeak:WARN"
build --javacopt "-Xep:StreamToIterable:WARN"
build --javacopt "-Xep:StringSplitter:WARN"
build --javacopt "-Xep:SwigMemoryLeak:WARN"
build --javacopt "-Xep:SynchronizeOnNonFinalField:WARN"
build --javacopt "-Xep:ThreadJoinLoop:WARN"
build --javacopt "-Xep:ThreadLocalUsage:WARN"
build --javacopt "-Xep:ThreadPriorityCheck:WARN"
build --javacopt "-Xep:ThreeLetterTimeZoneID:WARN"
build --javacopt "-Xep:TimeUnitConversionChecker:WARN"
build --javacopt "-Xep:ToStringReturnsNull:WARN"
build --javacopt "-Xep:TruthAssertExpected:WARN"
build --javacopt "-Xep:TruthConstantAsserts:WARN"
build --javacopt "-Xep:TruthGetOrDefault:WARN"
build --javacopt "-Xep:TruthIncompatibleType:WARN"
build --javacopt "-Xep:TypeEquals:WARN"
build --javacopt "-Xep:TypeNameShadowing:WARN"
build --javacopt "-Xep:TypeParameterShadowing:WARN"
build --javacopt "-Xep:TypeParameterUnusedInFormals:WARN"
build --javacopt "-Xep:URLEqualsHashCode:WARN"
build --javacopt "-Xep:UndefinedEquals:WARN"
build --javacopt "-Xep:UnescapedEntity:WARN"
build --javacopt "-Xep:UnicodeEscape:WARN"
build --javacopt "-Xep:UnnecessaryAssignment:WARN"
build --javacopt "-Xep:UnnecessaryLambda:WARN"
build --javacopt "-Xep:UnnecessaryLongToIntConversion:WARN"
build --javacopt "-Xep:UnnecessaryMethodInvocationMatcher:WARN"
build --javacopt "-Xep:UnnecessaryMethodReference:WARN"
build --javacopt "-Xep:UnnecessaryParentheses:WARN"
build --javacopt "-Xep:UnrecognisedJavadocTag:WARN"
build --javacopt "-Xep:UnsafeFinalization:WARN"
build --javacopt "-Xep:UnsafeReflectiveConstructionCast:WARN"
build --javacopt "-Xep:UnsynchronizedOverridesSynchronized:WARN"
build --javacopt "-Xep:UnusedMethod:WARN"
build --javacopt "-Xep:UnusedNestedClass:WARN"
build --javacopt "-Xep:UnusedTypeParameter:WARN"
build --javacopt "-Xep:UnusedVariable:WARN"
build --javacopt "-Xep:UseBinds:WARN"
build --javacopt "-Xep:UseCorrectAssertInTests:WARN"
build --javacopt "-Xep:VariableNameSameAsType:WARN"
build --javacopt "-Xep:WaitNotInLoop:WARN"
build --javacopt "-Xep:WakelockReleasedDangerously:WARN"
build --javacopt "-Xep:WithSignatureDiscouraged:WARN"

build --javacopt "-Xep:AutoFactoryAtInject:ERROR"
build --javacopt "-Xep:BanSerializableRead:ERROR"
build --javacopt "-Xep:ClassName:ERROR"
build --javacopt "-Xep:ComparisonContractViolated:ERROR"
build --javacopt "-Xep:DeduplicateConstants:ERROR"
build --javacopt "-Xep:DepAnn:ERROR"
build --javacopt "-Xep:EmptyI:ERROR"
build --javacopt "-Xep:ExtendsAutoValue:ERROR"
build --javacopt "-Xep:InjectMoreThanOneQualifier:ERROR"
build --javacopt "-Xep:InjectScopeOrQualifierAnnotationRetention:ERROR"
build --javacopt "-Xep:InsecureCryptoUsage:ERROR"
build --javacopt "-Xep:IterablePathParameter:ERROR"
build --javacopt "-Xep:Java8ApiChecker:ERROR"
build --javacopt "-Xep:LongLiteralLowerCaseSuffix:ERROR"
build --javacopt "-Xep:NoAllocation:ERROR"
build --javacopt "-Xep:RefersToDaggerCodegen:ERROR"
build --javacopt "-Xep:StaticOrDefaultInterfaceMethod:ERROR"
build --javacopt "-Xep:StaticQualifiedUsingExpression:ERROR"
build --javacopt "-Xep:SystemExitOutsideMain:ERROR"

build --javacopt "-Xep:AnnotationPosition:WARN"
build --javacopt "-Xep:AssertFalse:WARN"
build --javacopt "-Xep:AssistedInjectAndInjectOnConstructors:WARN"
build --javacopt "-Xep:BinderIdentityRestoredDangerously:WARN"
build --javacopt "-Xep:BindingToUnqualifiedCommonType:WARN"
build --javacopt "-Xep:BuilderReturnThis:WARN"
build --javacopt "-Xep:CanIgnoreReturnValueSuggester:WARN"
build --javacopt "-Xep:CannotMockFinalClass:WARN"
build --javacopt "-Xep:CannotMockFinalMethod:WARN"
build --javacopt "-Xep:CatchingUnchecked:WARN"
build --javacopt "-Xep:CheckedExceptionNotThrown:WARN"
build --javacopt "-Xep:ConstantPatternCompile:WARN"
build --javacopt "-Xep:DifferentNameButSame:WARN"
build --javacopt "-Xep:EqualsBrokenForNull:WARN"
build --javacopt "-Xep:ExpectedExceptionChecker:WARN"
build --javacopt "-Xep:FloggerLogWithCause:WARN"
build --javacopt "-Xep:FloggerMessageFormat:WARN"
build --javacopt "-Xep:FloggerPassedAround:WARN"
build --javacopt "-Xep:FloggerRedundantIsEnabled:WARN"
build --javacopt "-Xep:FloggerRequiredModifiers:WARN"
build --javacopt "-Xep:FloggerWithCause:WARN"
build --javacopt "-Xep:FloggerWithoutCause:WARN"
build --javacopt "-Xep:FunctionalInterfaceClash:WARN"
build --javacopt "-Xep:HardCodedSdCardPath:WARN"
build --javacopt "-Xep:InconsistentOverloads:WARN"
build --javacopt "-Xep:InitializeInline:WARN"
build --javacopt "-Xep:InterfaceWithOnlyStatics:WARN"
build --javacopt "-Xep:InterruptedExceptionSwallowed:WARN"
build --javacopt "-Xep:Interruption:WARN"
build --javacopt "-Xep:MemberName:WARN"
build --javacopt "-Xep:MissingDefault:WARN"
build --javacopt "-Xep:NonCanonicalStaticMemberImport:WARN"
build --javacopt "-Xep:PreferJavaTimeOverload:WARN"
build --javacopt "-Xep:PreferredInterfaceType:WARN"
build --javacopt "-Xep:PrimitiveArrayPassedToVarargsMethod:WARN"
build --javacopt "-Xep:QualifierWithTypeUse:WARN"
build --javacopt "-Xep:RedundantOverride:WARN"
build --javacopt "-Xep:RedundantThrows:WARN"
build --javacopt "-Xep:StronglyTypeByteString:WARN"
build --javacopt "-Xep:StronglyTypeTime:WARN"
build --javacopt "-Xep:SuppressWarningsWithoutExplanation:WARN"
build --javacopt "-Xep:SystemOut:WARN"
build --javacopt "-Xep:TestExceptionChecker:WARN"
build --javacopt "-Xep:ThrowSpecificExceptions:WARN"
build --javacopt "-Xep:TimeUnitMismatch:WARN"
build --javacopt "-Xep:TooManyParameters:WARN"
build --javacopt "-Xep:TransientMisuse:WARN"
build --javacopt "-Xep:TryWithResourcesVariable:WARN"
build --javacopt "-Xep:UnnecessarilyFullyQualified:WARN"
build --javacopt "-Xep:UnnecessarilyVisible:WARN"
build --javacopt "-Xep:UnnecessaryAnonymousClass:WARN"
build --javacopt "-Xep:UnnecessaryDefaultInEnumSwitch:WARN"
build --javacopt "-Xep:UnnecessaryOptionalGet:WARN"
build --javacopt "-Xep:UnsafeLocaleUsage:WARN"
build --javacopt "-Xep:UnusedException:WARN"
build --javacopt "-Xep:UrlInSee:WARN"
build --javacopt "-Xep:UsingJsr305CheckReturnValue:WARN"

build --legacy_external_runfiles=false

build:macos --apple_platform_type=macos

try-import %workspace%/.user.bazelrc
