# -*- mode: editorconfig; -*-
# vi: set ft=editorconfig:

root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
max_line_length = 80
trim_trailing_whitespace = true

[*.bat]
end_of_line = crlf

[*.bazel]
indent_size = 4

[*.gradle]
indent_size = 4

[*.java]
indent_size = 4

[*.MANIFEST.MF.in]
indent_size = 4

[*.md]
trim_trailing_whitespace = false

[*.properties]
indent_size = 4

[.bazelignore]
indent_size = 4

[.bazelrc]
indent_size = 4

[Brewfile]
indent_size = 4
