# -*- mode: gitattributes; -*-
# vi: set ft=gitattributes:

[attr]whitespace-2     whitespace=tab-in-indent,tabwidth=2,trailing-space
[attr]whitespace-4     whitespace=tab-in-indent,tabwidth=4,trailing-space
[attr]whitespace-md    whitespace=-blank-at-eol,blank-at-eof,tab-in-indent

*                      text=auto

*.bazel                text diff=python linguist-language=starlark whitespace-4
*.cmake                text whitespace-2
*.cmake.in             text whitespace-2
*.gradle               text diff=java linguist-language=gradle whitespace-4
*.jar                  binary
*.java                 text diff=java whitespace-4
*.MANIFEST.MF.in       text whitespace-4
*.md                   text diff=markdown whitespace-md
*.properties           text whitespace-4
*.yml                  text whitespace-2

.bazelignore           text linguist-language=ignore whitespace-4
.bazelrc               text whitespace-4
.editorconfig          text whitespace-2
.gitattributes         text export-ignore whitespace-2
.gitignore             text export-ignore whitespace-2
Brewfile               text diff=ruby export-ignore whitespace-4
CMakeLists.txt         text whitespace-2
CODEOWNERS             text whitespace-2
gradlew                text eol=lf linguist-vendored whitespace=trailing-space
gradlew.bat            text eol=crlf linguist-vendored whitespace=trailing-space
LICENSE                text linguist-documentation linguist-vendored whitespace=trailing-space
NOTICE                 text linguist-documentation whitespace=trailing-space
README.md              linguist-documentation

.github/**             export-ignore
.github/**/*.md        linguist-documentation
cmake/modules/3.18/**  linguist-vendored
gradle/**              linguist-vendored
