---
name: ci
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  schedule:
    - cron: '0 5 * * *'

jobs:
  bazel_macos:
    name: bazel macos latest
    runs-on: macos-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: setup
        run: |
          rm -f /usr/local/bin/2to3
          brew update
          brew uninstall -q bazelisk
          brew bundle install --no-lock
        shell: zsh -efuo pipefail {0}
      - name: build test package
        run: bazel test ...
        shell: zsh -efuo pipefail {0}

  bazel_ubuntu:
    name: bazel ubuntu latest
    runs-on: ubuntu-latest
    container: ubuntu:latest
    steps:
      - name: pre-checkout setup
        run: |
          export DEBIAN_FRONTEND=noninteractive
          apt-get update -qq
          apt-get install -o Dpkg::Use-Pty=0 -qq --no-install-recommends \
            ca-certificates \
            git
        shell: bash
      - name: checkout
        uses: actions/checkout@v2
      - name: post-checkout setup
        run: |
          export DEBIAN_FRONTEND=noninteractive
          apt-get update -qq
          apt-get install -o Dpkg::Use-Pty=0 -qq --no-install-recommends \
            default-jdk \
            gnupg \
            python-is-python3
          export APT_KEY_DONT_WARN_ON_DANGEROUS_USAGE=1
          apt-key adv -q --fetch-keys https://bazel.build/bazel-release.pub.gpg
          echo 'deb [arch=amd64] https://storage.googleapis.com/bazel-apt stable jdk1.8' \
            > /etc/apt/sources.list.d/bazel.list
          apt-get update -qq
          apt-get install -o Dpkg::Use-Pty=0 -qq --no-install-recommends bazel
        shell: bash
      - name: build test package
        run: bazel test ...
        shell: bash

  cmake_centos:
    name: cmake centos latest
    runs-on: ubuntu-latest
    container: centos:latest
    steps:
      - name: pre-checkout setup
        run: |
          dnf install -q -y \
            ca-certificates \
            glibc-langpack-en \
            git
        shell: bash
      - name: checkout
        uses: actions/checkout@v2
      - name: post-checkout setup
        run: |
          dnf install -q -y \
            cmake \
            java-11-openjdk-devel \
            make \
            redhat-lsb-core \
            rpm-build
        shell: bash
      - name: build test package
        run: |
          mkdir _build
          cd _build
          cmake \
            -DBUILD_DOCUMENTATION:BOOL=ON \
            -DBUILD_TESTING:BOOL=ON \
            -DCMAKE_INSTALL_PREFIX:PATH=${GITHUB_WORKSPACE}/_build/install \
            -DWARNINGS_AS_ERRORS:BOOL=ON \
            --warn-uninitialized \
            ..
          cmake --build .
          ctest .
          cmake --install .
          cpack -G RPM
          cpack -G RPM --config CPackSourceConfig.cmake
        shell: bash

  cmake_macos:
    name: cmake macos latest
    runs-on: macos-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: setup
        run: |
          rm -f /usr/local/bin/2to3
          brew update
          brew uninstall -q bazelisk
          brew bundle install --no-lock
        shell: zsh -efuo pipefail {0}
      - name: build test package
        run: |
          mkdir _build
          cd _build
          cmake \
            -DBUILD_DOCUMENTATION:BOOL=ON \
            -DBUILD_TESTING:BOOL=ON \
            -DCMAKE_INSTALL_PREFIX:PATH=${GITHUB_WORKSPACE}/_build/install \
            -DWARNINGS_AS_ERRORS:BOOL=ON \
            --warn-uninitialized \
            ..
          cmake --build .
          ctest .
          cmake --install .
          cpack -G TGZ
          cpack -G TGZ --config CPackSourceConfig.cmake
        shell: zsh -efuo pipefail {0}

  cmake_ubuntu:
    name: cmake ubuntu latest
    runs-on: ubuntu-latest
    container: ubuntu:latest
    steps:
      - name: pre-checkout setup
        run: |
          export DEBIAN_FRONTEND=noninteractive
          apt-get update -qq
          apt-get install -o Dpkg::Use-Pty=0 -qq --no-install-recommends \
            ca-certificates \
            git
        shell: bash
      - name: checkout
        uses: actions/checkout@v2
      - name: post-checkout setup
        run: |
          export DEBIAN_FRONTEND=noninteractive
          apt-get update -qq
          apt-get install -o Dpkg::Use-Pty=0 -qq --no-install-recommends \
            default-jdk \
            gnupg \
            lsb-release \
            make
          export APT_KEY_DONT_WARN_ON_DANGEROUS_USAGE=1
          apt-key adv -q --fetch-keys \
            https://apt.kitware.com/keys/kitware-archive-latest.asc
          echo "deb https://apt.kitware.com/ubuntu/ $(lsb_release -cs) main" \
            > /etc/apt/sources.list.d/kitware.list
          apt-get update -qq
          apt-get install -o Dpkg::Use-Pty=0 -qq --no-install-recommends cmake
        shell: bash
      - name: build test package
        run: |
          mkdir _build
          cd _build
          cmake \
            -DBUILD_DOCUMENTATION:BOOL=ON \
            -DBUILD_TESTING:BOOL=ON \
            -DCMAKE_INSTALL_PREFIX:PATH=${GITHUB_WORKSPACE}/_build/install \
            -DWARNINGS_AS_ERRORS:BOOL=ON \
            --warn-uninitialized \
            ..
          cmake --build .
          ctest .
          cmake --install .
          cpack -G DEB
          cpack -G DEB --config CPackSourceConfig.cmake
        shell: bash

  cmake_windows:
    name: cmake windows latest
    runs-on: windows-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: setup
        run: |
          cup cmake.install -r -y --install-arguments=ADD_CMAKE_TO_PATH=System `
            --no-progress
        shell: powershell
      - name: build test package
        run: |
          mkdir _build
          cd _build
          cmake `
            -DBUILD_DOCUMENTATION:BOOL=ON `
            -DBUILD_TESTING:BOOL=ON `
            -DCMAKE_INSTALL_PREFIX:PATH=$Env:GITHUB_WORKSPACE\_build\install `
            -DWARNINGS_AS_ERRORS:BOOL=ON `
            --warn-uninitialized `
            ..
          cmake --build . --config Release
          ctest . --build-config Release
          cmake --install . --config Release
          cpack -C Release -G ZIP
          cpack -C Release -G ZIP --config CPackSourceConfig.cmake
        shell: powershell

  gradle_centos:
    name: gradle centos latest
    runs-on: ubuntu-latest
    container: centos:latest
    steps:
      - name: pre-checkout setup
        run: |
          dnf install -q -y \
            ca-certificates \
            glibc-langpack-en \
            git
        shell: bash
      - name: checkout
        uses: actions/checkout@v2
      - name: post-checkout setup
        run: |
          dnf install -q -y \
            java-11-openjdk-devel \
            which
        shell: bash
      - name: build package
        run: ./gradlew build
        shell: bash

  gradle_macos:
    name: gradle macos latest
    runs-on: macos-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: setup
        run: |
          rm -f /usr/local/bin/2to3
          brew update
          brew uninstall -q bazelisk
          brew bundle install --no-lock
        shell: zsh -efuo pipefail {0}
      - name: build package
        run: ./gradlew build
        shell: zsh -efuo pipefail {0}

  gradle_ubuntu:
    name: gradle ubuntu latest
    runs-on: ubuntu-latest
    container: ubuntu:latest
    steps:
      - name: pre-checkout setup
        run: |
          export DEBIAN_FRONTEND=noninteractive
          apt-get update -qq
          apt-get install -o Dpkg::Use-Pty=0 -qq --no-install-recommends \
            ca-certificates \
            git
        shell: bash
      - name: checkout
        uses: actions/checkout@v2
      - name: post-checkout setup
        run: |
          export DEBIAN_FRONTEND=noninteractive
          apt-get update -qq
          apt-get install -o Dpkg::Use-Pty=0 -qq --no-install-recommends \
            default-jdk
        shell: bash
      - name: build package
        run: ./gradlew build
        shell: bash

  gradle_windows:
    name: gradle windows latest
    runs-on: windows-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: build package
        run: gradlew.bat build
        shell: cmd
